@font-face
    font-family: 'Inter Regular'
    src: url("../fonts/Inter-Regular-slnt.ttf")

@font-face
    font-family: 'Inter Bold'
    src: url("../fonts/Inter-Bold-slnt.ttf")



h1
    font-size: 50px


.heading
    font-size: 32px
